.card-center-branding {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: white;
  background-color: #00263b;
}

.card-center-branding h1 {
  font-size: 150px;
  color: white;
}