// Variaveis
$primary-color-500: #f79071;
$primary-color-600: #fa744f;
$default-color: white;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container-centered {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* BUTONS */
button {
  background-color: $primary-color-600 !important;
  border-color: $primary-color-500 !important;
}

.ant-checkbox-checked .ant-checkbox-inner{
  background-color: $primary-color-600 !important;
  border-color: $primary-color-500 !important;
}
