@import "./index.scss";

.site-layout-content {
  background: $default-color;
  padding: 24px;
  min-height: 280px;
}

.ant-layout-sider, .ant-layout-header, .ant-layout-sider-children, .ant-menu-dark, .ant-menu, .ant-menu-item {
  background-color: $primary-color-500 !important;
}
.ant-layout-sider-trigger{
  background-color: $primary-color-600 !important;
}

#components-layout-demo-top.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
